.boggle-board {
	border: solid 1px red;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.boggle-row {
	display: flex;
	flex-direction: row;
}

.row-cell {
	font-size: 24px;
	height: 20px;
	width: 20px;
	padding: 5px;
}

.row-cell.active {
	color: red;
}

.word {
	list-style: none;
	font-size: 1.5rem;
}
.word.found {
	color: red;
}

.guessed-words {
	height: 300px;
	overflow-y: scroll;
}

